html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.create {
    text-decoration:none;
    padding: 5px 5px;
    background-color: #0d6efd;
    color:white;
    border-radius: 5px;
}

.details {
    text-decoration: none;
    padding: 5px 5px;
    background-color: #0d6efd;
    color: white;
    border-radius: 5px;
}

.delete {
    text-decoration: none;
    padding: 5px 5px;
    background-color: #dc3545;
    color: white;
    border-radius: 5px;
}

.edit {
    text-decoration: none;
    padding: 5px 5px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.back-to {
    text-decoration: none;
    padding: 5px 5px;
    background-color: #9E9E9E;
    color: white;
    border-radius: 5px;
}

.create:hover {
    color: white;
    background-color: #0D47A1;
}
.details:hover {
    color: white;
    background-color: #0D47A1;
}
.delete:hover {
    color: white;
    background-color: #BF360C;
}
.edit:hover {
    color: white;
    background-color: #2E7D32;
}
.back-to:hover {
    color: white;
    background-color: #4F4F4F;
}